<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bienvenue coté admin{% endblock %}</title>
  <link rel="icon" href="{{ asset('assets/images/logoCouleur.svg') }}" type="image/svg+xml">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
  <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
  {% block javascripts %}
    <script src={{ asset("assets/js/activeTrix.js") }}></script>
  {% endblock %}
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Accrochet-vous | admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('admin_dashboard') }}">
              Dashboard
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin management
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path("admin_admin_list") }}">
                  Liste des admin
                </a>
              </li>
              <li>
                {% if app.user is not null and 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <a class="dropdown-item" href="{{ path("admin_admin_create") }}">
                  Créer un nouvel admin
                </a>
                {% else %}
                  <a class="dropdown-item disabled" href="">
                    Créer un nouvel admin
                  </a>
                {% endif %}
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ path("admin_articles_list") }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Les articles
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path('admin_articles_list') }}">
                  Tous les articles
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('admin_article_create') }}">
                  Ajouter un article
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('admin_category_list') }}">
              Catégories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('admin_tags_list') }}">
              Les tags
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Modération
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path("admin_articles_moderate") }}">
                  Articles
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{{ path("admin_comments_moderate") }}">
                  Commentaires
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-danger ms-auto me-3" aria-current="page" href="{{ path('admin_logout') }}">
          Se déconnecter
        </a>
      </div>
    </div>
  </nav>
</header>

<section class="container mt-3">
  {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {% endfor %}

  {% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {% endfor %}

</section>
{% block body %}{% endblock %}
</body>
</html>
