{%  extends 'base.html.twig' %}

{%  block title %}
  Bienvenue ! | Accrochet-vous
{% endblock %}

{%  block body %}
  <main>
    <section class="lilacSection">
      <h2 class="titleH2">Dernier ajout</h2>
      <div class="isFlex flexBetween w80">
        <div class="imageContainerHomePage">
          <img src="{{ asset('assets/uploads/'~lastArticle.image) }}" alt="{{ lastArticle.title }}" class="w100">
        </div>
        <article class="containerWhiteBg">
          <h3>{{ lastArticle.title }}</h3>
          <p class="white-space-wrap">
            {{ lastArticle.description |slice(0,200) }} {% if lastArticle.description |length > 200 %}
              ...
            {% endif %}
          </p>
          <p>Catégorie :
            <a>{{ lastArticle.category.name }}</a>
          </p>
          <a href="{{ path("article_show", {id: lastArticle.id}) }}" class="button">
            Voir le modèle
          </a>
        </article>
      </div>
    </section>

    <section class="homePageSection">
      <h2>Les préférés de l'équipe</h2>
      <div class="grid">
        {% for articleGrid in last5Articles %}
        <div class="isRelative" id="grid{{ articleGrid.id }}">
          <div class="w100">
            <img src="{{ asset('assets/uploads/'~articleGrid.image) }}" alt="{{ articleGrid.title }}" class="w100">
          </div>
          <div class="contentGrid isAbsolute">
            <h4 class="center">{{ articleGrid.title }}</h4>
            <p class="center">
              {{ articleGrid.category.name }}
                {% for tagGrid in articleGrid.tags %}
                  {{ tagGrid.name }}
                {% endfor %}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

{% endblock %}