{% extends 'admin/adminBase.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
  <section class="container">
    {{ form_start(formView, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
    <div class="form-group mb-3">
      {{ form_label(formView.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(formView.title, {'attr': {'class': 'form-control'}}) }}
      <div class="{{ formView.title.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.title) }}
      </div>
    </div>
    <div class="form-group mb-3">
      {{ form_label(formView.description, 'Description', {'label_attr': {'class': 'form-label',}}) }}
      {{ form_widget(formView.description, {'attr': {'id': 'trix-description', 'type':'hidden'} }) }}
      <!-- Trix Editor -->
      <trix-editor input="article_description" class="trix-editor"></trix-editor>
      <div class="{{ formView.description.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.description) }}
      </div>
    </div>
    <div class="form-group mb-3">
      {{ form_label(formView.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(formView.image, {'attr': {'class': 'form-control'}}) }}
      <div class="{{ formView.image.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.image) }}
      </div>
    </div>
    <div class="form-group mb-3">
      {{ form_label(formView.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(formView.category, {'attr': {'class': 'form-control'}}) }}
      <div class="{{ formView.category.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.category) }}
      </div>
    </div>
    <div class="form-group mb-3">
      {{ form_label(formView.status, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(formView.status, {'attr': {'class': 'form-control'}}) }}
      <div class="{{ formView.status.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.status) }}
      </div>
    </div>
    <div class="form-group mb-3">
      {{ form_label(formView.tags, 'Tags associés', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_widget(formView.tags, {'attr': {'class': 'form-control'}}) }}
      <div class="{{ formView.tags.vars.errors|length > 0 ? 'alert alert-warning ' }}">
        {{ form_errors(formView.tags) }}
      </div>
    </div>
    <div class="center">
      {{ form_row(formView.save, { 'label' :'Enregistrer', 'attr' : {'class' : 'btn btn-success'} }) }}
    </div>
        {{ form_end(formView) }}
    </section>
{% endblock %}