{% extends 'admin/adminBase.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}
  <section class="container">

    <a href="{{ path('admin_article_create') }}" class="btn btn-primary mt-3 mb-3">Ajouter un article</a>

    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Statut</th>
        <th scope="col">Date de création</th>
        <th scope="col">Date de modification</th>
        <th scope="col">Auteur</th>
        <th scope="col">Voir l'article</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <th scope="row">{{ article.id }}</th>
          <td>{{ article.title }}</td>
          <td>{{ article.status }}</td>
          <td>{{ article.createdAt | date('d-m-Y H:i') }}</td>
          {% if article.updateAt %}
            <td>{{ article.updateAt | date('d-m-Y H:i') }}</td>
          {% else %}
            <td></td>
          {% endif %}
          <td>
            {% if article.adminId %}
              {{ article.adminId.email }}
            {% elseif article.user %}
              {{ article.user.username }}
            {% else %}
            {% endif %}
          </td>

          <td>
            <a href="{{ path("admin_article_show", {id: article.id}) }}"
               class="btn btn-primary mt-1">
              Voir
            </a>
          </td>
          <td>
            <a href="{{ path("admin_article_update", {id: article.id}) }}" class="btn btn-warning mt-1">
              Modifier
            </a>
          </td>
          <td>
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
              <a href="{{ path("admin_article_delete", {id: article.id}) }}" class="btn btn-danger mt-1">
                Supprimer
              </a>
            {% else %}
              <button class="btn btn-outline-danger" disabled>
                Supprimer
              </button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  </section>

{% endblock %}