{% extends 'admin/adminBase.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

    <section class="container">

        <h2>{{ article.title }}</h2>
        <div>
            <img src="{{ asset('assets/uploads/' ~ article.image) }}" alt="{{ article.title }}">
        </div>
        <div>
            <p>{{ article.title }} écrit par
                {% if article.adminId %}
                    {{ article.adminId.email }}
                {% else %}
                    {{ article.user.username }}
                {% endif %}
            </p>
            <p>Description : {{ article.description }}</p>

            {% if article.status is same as 'to moderate' %}
                <a href="{{ path("admin_article_moderate_published", {id: article.id}) }}" class="btn btn-success">Publier l'article</a>
                <a href="{{ path("admin_article_moderate_blocked", {id: article.id}) }}" class="btn btn-danger">Bloquer l'article</a>
            {% endif %}

            <a href="{{ path('admin_article_update', {id: article.id}) }}" class="btn btn-warning mt-1">Modifier</a>

        </div>

    </section>

{% endblock %}