{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}
    <section class="container">

        <h2>{{ article.title }}</h2>
        <div>
            <img src="{{ asset('assets/uploads/' ~ article.image) }}" alt="{{ article.title }}">
        </div>
        <div>
            {% if article.user %}
                <p>{{ article.title }} écrit par
                    {{ article.user.username }}
                </p>
            {% endif %}
            <p>Description : {{ article.description }}</p>

        </div>

    </section>
    <section>
        <h2>Commentaires</h2>
        {% if app.user %}
            {% for comment in comments %}
                <article>
                    <h3>{{ comment.title }}</h3>
                    <p>Publié le {{ comment.createdAt | date('d-m-Y H:i') }}</p>
                    <p>{{ comment.content }}</p>
                </article>
            {% endfor %}
            <a href="{{ path('user_article_add_comment', {articleId: article.id}) }}">Ajouter un commentaire</a>
        {% else %}
            <p>Connectez-vous pour voir les commentaires ;)</p>
            <a href="{{ path("login") }}">Se connecter</a>
        {% endif %}
    </section>
{% endblock %}