{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}

    <main>
        <section class="containerGreen">
            <div>
                <h2 class="titleH2">{{ user.username }}</h2>
                <p>{{ user.email }}</p>
            </div>

            <div>
                <p>{{ user.biography }}</p>
            </div>

            {% if app.user.id is same as user.id %}
                <a href="{{ path("user_profile_update") }}" class="buttonContainer">Modifier le mot de passe</a>
            {% endif %}

        </section>
    </main>
{% endblock %}
