{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block body %}

  <main>
    <section class="containerGreen">
      <div class="isFlex flexStart w90">
        <div class="profilePictureContainer">
          <img src="{{ asset('assets/images/profile_pic.png') }}" alt="profile pic" class="w100">
        </div>
        <div class="infoProfileContainer">
          <h2 class="titleH2">{{ user.username }}</h2>
          <p>{{ user.email }}</p>
        </div>
      </div>

      <div class="w90">
        <h3>Ma biographie</h3>
        <div class="containerWhiteBg">
          <p class="white-space-wrap">{{ user.biography }}</p>
        </div>
      </div>

      {% if app.user.id is same as user.id %}
        <div class="isFlex flexBetween w90">
          <a href="{{ path("user_profile_update_bio") }}" class="buttonContainer center">
            Modifier ma bio
          </a>
          {% if 'ROLE_REDACTOR' in app.user.roles %}
            <a href="{{ path("user_article_create") }}" class="buttonContainer center">
              Soumettre un article
            </a>
          {% else %}
            <a class="center disabled" href="#" aria-disabled="true" >
              Soumettre un article
            </a>
          {% endif %}
          <a href="{{ path("user_profile_update_password") }}" class="buttonContainer center">
            Changer de mot de passe
          </a>
        </div>
      {% endif %}
    </section>
  </main>

  {% block javascripts %}
    <script src={{ asset("assets/js/profile.js") }}></script>
  {% endblock %}
{% endblock %}

