{% extends 'admin/adminBase.html.twig' %}

{% block title %} {{ comment.title }} {% endblock %}

{% block body %}

  <section class="container">
    <h2>{{ comment.title }}</h2>
    {% if comment.image %}
      <div>
        <img src="{{ asset('assets/uploads/' ~ comment.image) }}" alt="{{ comment.title }}">
      </div>
    {% endif %}
    <div>
      <p>{{ comment.title }} écrit par {{ comment.user.username }} </p>
      <p>Date de soumission du commentaire : {{ comment.createdAt | date('d-m-Y H:i') }}</p>
      <p>Description : {{ comment.content }}</p>

      <a href="{{ path("admin_comment_moderate_published", {id : comment.id}) }}" class="btn btn-success mt-1">Publier le commentaire</a>
      <a href="{{ path("admin_comment_moderate_blocked", {id: comment.id}) }}" class="btn btn-danger mt-1">Bloquer le commentaire</a>
      {#            <a href="{{ path("admin_comment_delete", {id: comment.id}) }}" class="btn btn-danger mt-1">Supprimer</a>#}
    </div>

  </section>

{% endblock %}